* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333;
	margin: 0px;
	padding-top:0;
	height: 100%;
	background-color: #F0F0D8;
}


h1 {
	font-size: 36px;
	padding-bottom: 0px;
}


h1, h2, h3{
	padding-top: 20px;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	font-family: inherit;
	font-weight: 500;
	line-height: 0.7;
	color: inherit;
}

h1 small, h2 small, h3 small {
	font-size: 65%;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: 400;
	line-height: 1;
	color: #999;
}


.texto_centralizado, .centralizado {
	text-align: center;
	width: 80% ;
	margin-left: auto ;
	margin-right: auto ;
}

#header {
	width: 100%;
	padding-bottom: 10px;

}

.botao_menu {
	background-color: #5CB85C;
	border-color: #2C8E2C;
	padding: 10px;
	width: 100px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: table-cell;
	border-top:1px solid #2C8E2C;
	border-bottom:1px solid #2C8E2C;
	border-left:1px solid #2C8E2C;
	transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;    /* FF3.7+ */
	-o-transition: background-color 0.3s linear;      /* Opera 10.5 */
	-webkit-transition: background-color 0.3s linear; /* Saf3.2+, Chrome */
	position: -webkit-sticky; /* apenas chrome e webkit nightly */
}
.botao_menu:hover, .botao_menu:active, .botao_menu:focus, .botao_menu.ativo{
	background-color: #47A447;
}

.botao_menu.primeiro{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.botao_menu.ultimo{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right:1px solid #2C8E2C;
}

#footer {
border-top: 3px solid #47A447;
width: 100%;
height: 30px;
background-color:#2C8E2C;
bottom: 0;
position: fixed;
color: #fff;
}

.direita {
	margin-right:10%;
	float: right;
	text-align: right;
}
.esquerda {
	margin-left:10%;
	float: left;
	text-align: left;
}

#corpo {
width: 960px;
margin-right: auto;
margin-left: auto;
background-color: #f5f5e5;
border-radius:5px;
border: 1px solid #bbb;
margin-bottom: 10px;
}

