geral {
	margin:0;
	padding:0;
	color:#000;
	background:#fff;
	}
	
	/**Geral**/
	#geral {
	width:1020px;
	margin:0 auto;
	background:white;
	}
	{
	#body
	background-color:red;
	}
	
	/**Banner(Cabeçalho)**/
	#cabecalho {
	padding:20px;
	background:#fdd;
	}
	
	/**Corpo do Site **/
	#conteudo-1 {
	float:left;
	/* diminuimos a largura para n?quebrar o layout. 
	* valor antigo 220
	*/
	
	/**Cor do Menu Esquerdo**/
	width:280px;
	background:#bfb;
	padding:10px;
	}
	
	/**Menu do Lado Direito**/
	#conteudo-2 {
	float:right;
	width:720px;
	}
	
	/**Cor do Corpo**/
	#conteudo-2-1 {
	float:left;
	width:480px;
	background:#ddf;
	padding:10px;
	}
	
	#conteudo-2-2 {
	float:right;
	/*diminuimos a largura para n?quebrar o layout
	* valor antigo 220
	*/
	
	/**Cor do Menu Direito**/
	width:200px;
	background:#dff;
	padding:10px;
	}
	
	/**Rodapé**/
	#rodape {
	clear:both;
	background:#ff9;
	padding:10px;
	}