html,body{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 30px;
	font-size: 14px;
	
}
body{
overflow-y:scroll;
}
#background {
	position: fixed;
	width:100%;
	height:100%;
	z-index: -1;
	background: #ccc url("../img/background.jpg") no-repeat center top;
	background-size:cover;

}

#cabecalho, #conteudo, #rodape {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 90%;
	z-index: 10;
	color: #fff;
}
#cabecalho{
	height: 300px;
	align:center;
	padding-top:10px;
}
#cabecalho > div {
    bottom: 0;
    position: absolute;
}

#rodape {
	height: 40px;
	background-color:#5CB85C;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 10px;
	

}
#conteudo{
	padding: 15px 0;
	background-color: rgba(255,255,255,0.85);
	color: #777;
}

#conteudo>div {
	width: 90%;
	margin: 0 auto;
	height:auto;
}

.logo{
	display: block;
	width: 175px;
	height: 175px;
	margin: 0 auto;
	padding:0;
	position:relative;

	-moz-animation:logoanimado 5s ease-in-out infinite ;
}


@-moz-keyframes logoanimado {
	0%   {left:-100px;-moz-transform: rotate(0deg);}
	50% {left:100px;-moz-transform: rotate(80deg);}
	100% {left:-100px;-moz-transform: rotate(0deg);}
}




#cabecalho h1{
	text-align: center;
}


#conteudo p {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #313131;
	line-height: 20px;
}

#conteudo a {
	color: #2a7ead;
	text-decoration: none;
	line-height: 20px;
}

#conteudo h1 {
	margin-top: 10px;
	font-size: 36px;
	line-height: 20px;
}

#conteudo h2 {
	margin-top: 25px;
	font-size: 30px;
	line-height: 20px;
	padding-top: 40px;
}

#conteudo h3 {
	margin-top: 20px;
	font-size: 24px;
	line-height: 20px;
}
small{
color: #bbb;
}


.botao_menu {
	background-color: #5CB85C;
	border-color: #4CAE4C;
	padding: 5px 10px 5px 10px;
	width: 300px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: table-cell;
	border-top:1px solid #4CAE4C;
	border-left:1px solid #4CAE4C;
	border-bottom:1px solid #4CAE4C;
	transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;    /* FF3.7+ */
	-o-transition: background-color 0.3s linear;      /* Opera 10.5 */
	-webkit-transition: background-color 0.3s linear; /* Saf3.2+, Chrome */
	white-space:nowrap;
}


.botao_menu:hover, .botao_menu:active, .botao_menu:focus, .botao_menu.ativo{
	background-color: #47A447;
}

.botao_menu:first-child{
	border-top-left-radius: 5px;
}
.botao_menu:last-child{
	border-top-right-radius: 5px;
	border-right:1px solid #4CAE4C;
}

#rodape .texto {
margin: 0px 30px;

}

#rodape .texto p {
color: #fff;
margin: 7px 0;
}

.botao_enviar{
margin-top: 5px;
margin-bottom: 5px;
color: #FFF;
background-color: #5CB85C;
border-color: #4CAE4C;
border-radius: 4px;
padding: 6px 12px;
border: 1px solid transparent;
}
.botao_enviar:hover{
background-color: #47A447;
border-color: #398439;
}
.tabela_contato_direita input{
	width:100%;
}
